PORT=3000
GOOGLE_SHEET_ID=1Q9V07zqh_re8nj2wtg5HiITyouZl5QFqzdE0-JJ8r9Y
GOOGLE_SERVICE_ACCOUNT_EMAIL=replace-with-service-account-email
GOOGLE_PRIVATE_KEY=replace-with-service-account-key
JWT_SECRET=replace-with-app-secret
